.title{
    color: #fff;
    font-size: 20;
    font-family: 'Roboto Medium';
}

/*NumberPicker, ListPicker, Input, DatePicker *{*/
    /*border-color: #1e88e5 ;*/
    /*color:  #1e88e5 ;*/
    /*background-color: #1e88e5;*/
/*}*/