.row{
    padding-top: 20;
    padding-bottom: 20;
}

.row + .row{
    padding-top: 5;
}

.row_bottom{
    padding-bottom: 0;
}

.switch{
    margin-right: 0;
    margin-left: 0;
}

.logout{
    color: #ee3b4b;
}

.btn{
    font-size: 16;
    text-transform: capitalize;
   /* background-color:transparent;*/
    text-align: left;
    margin: 0;
    color: #de000000;
    border-width: 1;
    border-color: transparent;
}

.btn:highlighted{
    background-color:transparent;
    color: #8b000000;
}
