.personal-info .headline{
    margin-top: 20;
}

.card-body{
    padding: 24 20;
}

.btn-get-money{
    width: 190;
    margin-left: 0;
    margin-top: 22;
}

.card-info{
    opacity: 0;
    background-color: white;
}

.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
