.logo{
    margin-top: 25;
    margin-bottom: 15;
}

.container{
    opacity: 0;
    background-color: white;
}

.headline,
.choose-autopark{
    font-size: 14;
    color: #8b000000;
}

.headline{
    font-weight: bold;
}

.error{
    color: #fe335b;
}


.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}